input[type="number"], select {
  padding: $spacing-base / 2;
  border: $form-control-border;
  border-radius: $border-radius-base / 2;
  background: $form-control-background;
}

button, input[type="submit"] {
  cursor: pointer;

  padding: ($spacing-base / 2) $spacing-base;
  border: $button-border;
  border-radius: $border-radius-base / 2;
  background-color: $button-background-color;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15));

  transition: background-color .2s, border-color .2s;

  &[disabled] {
    opacity: 0.5;
  }

  &:not([disabled]) {
    &:hover {
      background-color: lighten($button-background-color, 10%);
    }

    &:active {
      background-color: darken($button-background-color, 15%);
      border-color: darken(nth($button-border, 3), 20%);
    }
  }

  &.icon-button {
    line-height: $font-size-base * 1.5;

    .icon {
      float: left;
      margin-right: $spacing-base / 2;
    }
  }
}
