.icon {
  display: inline-block;
  width: $font-size-base * 1.5;
  height: $font-size-base * 1.5;

  svg {
    width: $font-size-base * 1.5;
    height: $font-size-base * 1.5;
  }
}

.icon.attack path {
  fill: #de2c37;
}

.icon.fortify path, .icon.reinforce path {
  fill: #2e7be8;
}
