.icon {
  display: inline-block;
  width: $font-size-base * 1.5;
  height: $font-size-base * 1.5;
  background-size: contain;
}

.icon.reinforce {
  background-image: image-url("icons/vortex.png");
}

.icon.fortify {
  background-image: image-url("icons/rocket.png");
}

.icon.attack {
  background-image: image-url("icons/missile-swarm.png");
}

.icon.end-turn {
  background-image: image-url("icons/back-forth.png");
}
