* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	min-height: 100%;
}

@keyframes rotateClockwise {
	0% { transform: rotate(-180deg); }
	100% { transform: rotate(180deg); }
}

@keyframes rotateCounterClockwise {
	0% { transform: rotate(90deg); }
	100% { transform: rotate(-270deg); }
}

body:before, body:after {
	content: "";
	position: absolute;
	width: 300%;
	height: 300%;
	top: -100%;
	left: -100%;
	z-index: -1;
	background: $page-background;
	transform: rotate(30deg);
}

body:before {
	animation: rotateClockwise 300s linear infinite;
}

body:after {
	opacity: 0.5;
	animation: rotateCounterClockwise 300s linear infinite;
}

body, input, select, button {
  color: $text-color;
  font-family: $font-family-base;
	font-size: $font-size-base;
}

.container {
  max-width: 700px;
  margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
}

.hidden {
	display: none !important;
}

// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
