<%= form_for [@game, event] do |f| %>
  <%= f.hidden_field :event_type %>
  <%= button_tag type: "submit", class: "icon-button" do %>
    <span class="icon end-turn"></span> End turn
  <% end %>
<% end %>
