<div id="game-display">
  <%= map_display(@turn) %>

  <% if @turn.game_state.won? %>
    <div><%= @turn.game_state.winning_player.name %> won the game!</div>
  <% else %>
    <%= render "player_display" %>

    <div class="controls">
      <% @turn.allowed_events.each do |event| %>
        <%= render "form_#{event.event_type}", event: event %>
      <% end %>
    </div>
  <% end %>
</div>
