<div class="player-display">
  <% @game.players.each do |player| %>
    <span class="player-icon"
      style="background-color: <%= player_color(@game.players, player) %>"></span>
    <%= "*" if @turn.player == player %>
    <%= player.name %>
  <% end %>
</div>
