<div class="player-display">
  <% @game.players.each do |player| %>
    <% next if !@turn.game_state.in_game?(player) %>
    <div class="<%= "current" if @turn.player == player %>">
      <span class="player-icon"
        style="background-color: <%= player_color(@game.players, player) %>"></span>
      <%= player.name %>
    </div>
  <% end %>
</div>
