<div class="player-display">
  <% @game.players.each do |player| %>
    <div>
      <span class="player-icon"
        style="background-color: <%= player_color(@game.players, player) %>"></span>
      <%= "*" if @turn.player == player %>
      <%= player.name %>
    </div>
  <% end %>
</div>
