<h1>Intergalactic Risk</h1>

<%= form_for(Game.new) do |f| %>
  <p>
    Players:
    <%= number_field_tag :player_count, "", min: CreateGame::MIN_PLAYERS, max: CreateGame::MAX_PLAYERS %>
  </p>
  <p>
    Map:
    <%= select_tag :map_name, options_for_select(available_maps) %>
  </p>
  <p>
    <%= f.submit "Create game" %>
  </p>
<% end %>
