<h1>Game <%= @game.id %></h1>

<div class="player-display">
  <div class="player-0">
    <span class="player-icon player-0"></span>
    <%= @game.players[0].name %>
  </div>
  <div class="player-1">
    <span class="player-icon player-1"></span>
    <%= @game.players[1].name %>
  </div>
</div>

<%# TODO JSON! %>
<script type="text/javascript">
var GAME_STATE = <%= @state.to_json.html_safe %>
</script>
