.player-display {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;

  .player-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 5px 0 20px;
    border-radius: 16px;

    &:first-child {
      margin-left: 0;
    }
  }
}

svg.map-display {
  width: 550px;

  .link {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node {
    circle {
      stroke: #000;
      stroke-width: 1.5px;
    }

    text {
      fill: #fff;
      font-size: 12px;
    }

    &.active circle {
      stroke: yellow;
    }
  }
}

.controls {
  > form > .content {
    display: inline-block;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #333;
  }
}
