.player-display {
  .player-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 16px;

    // &.player-0 {
    //   background-color: nth($player-colors, 1);
    // }
    //
    // &.player-1 {
    //   background-color: nth($player-colors, 2);
    // }
  }
}

svg.map-display {
  .link {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node {
    cursor: pointer;

    circle {
      stroke: #000;
      stroke-width: 1.5px;
    }

    text {
      fill: #fff;
      font-size: 12px;
    }

    &.active circle {
      stroke: yellow;
    }
  }

  // .player-0 circle {
  //   fill: nth($player-colors, 1);
  // }
  //
  // .player-1 circle {
  //   fill: nth($player-colors, 2);
  // }
}
